.navbar-link{
text-decoration: none;
font-family: 'Barlow', sans-serif;
font-size: 30px;
display: inline;
padding: 2px;
}
.navbar-main{
    display: block;
    justify-content: center;
    position: fixed;
    
    padding: 13px;
    width: 70%;
}
.header{
    width: 100vw;
    height: 10vh;
    display: flexbox;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 5;
    overflow: hidden;
}
.navbar-main li{
    list-style: none;
    display: inline;
}
.lt{
    font-size: 20px;
    font-weight:bolder;
    padding: 2px;
    border-radius: 2px;
    border: black 1px solid;
    /* display: none; */
   margin: 30px;
   max-width: 15%;
    float: right;
   
}
.lt:hover{
    color: beige;
    background-color: rgb(55, 55, 82);
}

.hamburger {
    display: inline;
    max-width: 15%;
    margin: 16px;
    padding: 13px 40px;
    cursor: pointer;
    z-index: 11;
    transition: 0.6s;
    float: right;
    
    /* border: 2px solid black; */
}
.ham1, .ham2, .ham3{
  
    width: 30px;
    height: 5px;
    background-color: rgb(47, 47, 58);
    margin: 4px 0;
   

}
.change .ham1{
    
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px,4px);
   z-index: 15;
    
}

.change .ham3 {
    
    -webkit-transform: rotate(45deg) translate(-8px, -6px);
    transform: rotate(45deg) translate(-9px, -6px);
    z-index: 15;
}
.change .ham2 {
opacity: 0;
}
