body{
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 100px;
    display: flex;

    justify-content: center;

   
}
.deletepost{
    text-decoration: none;
    outline: none;
    border: none;
    all:unset;
    width: 5%;
    text-align: center;
    background: rgb(226, 217, 217);
    color: black;
    padding:2px;
    cursor: pointer;
}

.deletepost:hover{
    color: red;
    
}
.backdrop{
    
   
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    z-index: 11;
    top: 0;
    background-color: rgba(0, 0, 0, 0.63);
    margin-left: 100px;
    /* animation: ease-in-out 0.7s both 0s 2  normal; */
}

.toggle {
 
  margin-left: 0;
  background-color: rgba(0, 0, 0, 0.801);
    display: block;
}
.posts{
    margin: 100px 20px;

 /* border-top: black solid 1px; */
    min-height: 130px;
    
    width: 70%;
   
}
.post a{
    text-decoration: none;
    width: 100%;
   
    /* box-shadow:  black 3px 3px 3px; */

}
.post{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.posts > h1{
    font-family: 'Barlow', sans-serif;
    text-align: center;
    font-size: 40px;
}
.myfooter{
    position: absolute;
    height: 70px;
    bottom: 0;
    border-top: solid 1px black; 
    width: 80%;
    vertical-align: center;
    

}
.myfooter p{
    text-align: center;
    font-family: 'Barlow', sans-serif;
}
.myfooter .info{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    
}
.info i{
    margin : 3px 20px;
    color: black;
    cursor: pointer;
    
}
.post{
    margin: 10px 0;
    width: 100%;
    margin-bottom: 30px;
    /* border-top: black double 1px; */
    border-radius: 5px;
    /* background-color: rgba(205, 247, 230, 0.37); */
    background-color: rgb(196, 224, 228);
    background-color: rgba(86, 126, 63, 0.349);
    height: 200px;
    max-height: 400px;
    overflow:hidden;
    border-bottom: none;
    /* position: relative; */
    /* margin-bottom: 50px; */
    /* box-shadow: 2px 2px 7px; */
}
.post:hover{
    box-shadow:  rgb(123, 117, 124) 3px -7px 10px;
    box-decoration-break: slice;
}
.post-title{
    display: flex;
    border-bottom: 1px black solid;
    height: 30%;
    justify-content: center;/* border-right: 1px black; */
}
.post-title h1{ 
    width: 70%;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    border-right: 1px black solid;
    max-height: 100%;
    color: brown;
    margin: auto;
    padding:10px;
    
}
.post-user{
    width: 30%;
    padding:5px;
    display: flex;
    flex-direction: column;
}
.post-user h3{
    font-family: 'Barlow', sans-serif;
    display: inline-block;
    margin: 0;
    padding:2px;
   
}
.post-user .name{
    height: 60%;
    color: black;
    font-weight:10000;

    border-bottom: black 1px solid;

}
.post-user .time{
height: 40%;
    color: rgb(102, 7, 7);
font-weight: 100;
overflow: auto;
font-size: medium;

}
.post-info{
    height:70%;
    position: relative;
    display: flex;
    width:100%;
    flex-direction: column;
    
}
.post-info p{
    position: relative;
    overflow: hidden;
    font-size: large;
    height: 70%;
    padding:7px 10px;
    
}

.fadeout{
    position: absolute; 
    bottom: 0em;
    left: 0;
    width:100%;
    height: 8em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
}

.backdrop-menu{
    position: fixed;
    z-index: 12;
    /* display: none; */
    display: flex;
    margin-top: 20%;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.backdrop-menu a{
   
    text-decoration: none;
    display: inline-block;
    color: white;
    width: 30%;
    font-family: 'Barlow', sans-serif;
    padding: 20px ;
    text-align: center;
    font-weight: bolder;
    font-size: larger;
    border-radius: 3px;

}
.backdrop-menu  a:hover{
    background-color: rgba(207, 197, 197, 0.568);
    color: black;
}
.hide{
    display: none;
}

#spinner{
    visibility: hidden;
    width: 80px;
    height: 80px;

    border: 2px solid #ffffff;
    border-top:3px solid #180502;
    border-radius: 100%;
  
    position: absolute;
    top:100px;
    bottom:0;
    left:0;
    right: 0;
    margin: auto;
  
    animation: spin 1s infinite linear;
  }
  
  @keyframes spin {
    from {
        transform: rotate(0deg);
    } to {
        transform: rotate(360deg);
    }
  }
  
  #spinner.show {
    visibility: visible;
  }
